<a href="https://colab.research.google.com/github/Radhi1999/radhika_INFO5731_Fall2022/blob/main/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
input_string = ("University of north texas: Computational Methods")
count=0
for i in input_string:
      count=count+1
print("Length of the string:")
print(count)

Length of the string:
48

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
x = 'google.com'
char_count = {}
  
for j in x:
    if j in char_count:
        char_count[j] += 1
    else:
        char_count[j] = 1
print(str(char_count))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
input_lst = [3,8,16,-10,25,4,1,-6]
total = 0
for j in input_lst:
    total= total + j
print(total)

41

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
x = "restart"
y = ""
a = x[0]
for j in range(0,len(x)):
    if x[j]==a:
        y += '$'
    else:
        y += x[j]
y = a + y[1:]
print(y)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
A = int(input("Enter the value of a :"))
B = int(input("Enter the value of b :"))
S = 3.14 * (1 + A/B)**3
print(S)

Enter the value of a :12
Enter the value of b :6
84.78

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
x = tuple(map(int,input("Enter the values :").split()))
y = int(input())
for j in x:
    if j == y:
        print("Exists")
        break
else:
    print("doesn't exists")

Enter the values :12 6 8 3 10 25
25
Exists

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
x = set(map(int,input("Enter the values :").split()))
print("Minimum value :" , min(x))
print("Maximum value :", max(x))

Enter the values :16 3 18 25 2 10 32
Minimum value : 2
Maximum value : 32

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
import random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
for j in range(0,6):
    print(random.sample(studnet_list, k = 5))

['kg0569', 'vb0218', 'ds0814', 'nm0618', 'sb1357']
['hy0232', 'sm1640', 'gn0108', 'kg0470', 'aos0040']
['dr0609', 'hy0232', 'fh0141', 'sm1907', 'sk1390']
['sk1458', 'jl1252', 'aos0040', 'nv0234', 'ms1500']
['vm0377', 'sk1313', 'nv0234', 'aos0040', 'vb0218']
['ms1500', 'ja0964', 'bg0320', 'aos0040', 'pr0353']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
x = list(map(int,input("Enter the interger values: ").split()))
y = set()
for j in range(len(x)):

    if x[j] in y:
         print(x[j])
    else:
        y.add(x[j])
if(len(x)==len(y)):
    print("-1")

Enter the interger values: 2 4 2 5 7 8
2

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def all_sundays(year):
       dt = date(year, 1, 1)   
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in all_sundays(2022):
   print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25